<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card>
      <ion-item>
        <ion-label>What's for Lunch?</ion-label>
      </ion-item>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lunch</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div>
      <ion-card color="light">
        <ion-card-header>
          <!--<ionic-card-title style="center">Prepare for Takeoff Tacos</ionic-card-title>-->
          <div class="ion-text-center">
            <h3>Prepare for Takeoff Tacos</h3>
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.-->
          </div>
          <img src="assets\icon\tacos.PNG" alt="Tacos">
        </ion-card-header>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Pulled Pork $3.50, or 3 for $9.50
        </ion-card-header>
        <ion-card-content>
          -- flour tortilla, red chile fire salsa, jalapeno apple slaw, ghost pepperjack cheese
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Turkey $3.50, or 3 for $9.50
        </ion-card-header>
        <ion-card-content>
          -- flour tortilla, smoked corn salsa, guacamole squeeze, queso fresco
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Chicken $3.50, or 3 for $9.50
        </ion-card-header>
        <ion-card-content>
          -- corn tortillas, red chile fire salsa, ghost pepperjack cheese, chopped cilantro, onion
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          >Housemade Chipotle Ghost Pepperjack Smoked Sausage $3.50, or 3 for $9.50
        </ion-card-header>
        <ion-card-content>
          -- flour tortilla, red chile fire salsa, jalapeno apple slaw
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Housemade Chorizo Sausage $3.50, or 3 for $9.50
        </ion-card-header>
        <ion-card-content>
          -- flour tortilla, red chile fire salsa, queso fresco, chopped cilantro, onion
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Brisket $4.50, or 3 for $12.50
        </ion-card-header>
        <ion-card-content>
          -- corn tortillas, red chile fire salsa, ghost pepperjack cheese
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Burnt Ends $4.50, or 3 for $12.50
        </ion-card-header>
        <ion-card-content>
          -- flour tortilla, pico de gallo, Hangar 29 salsa, queso fresco
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Smokey Whitefish $3.50, or 3 for $9.50
        </ion-card-header>
        <ion-card-content>
          -- lettuce, pico, chipotle aioli
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Shrimp $4.50, or 3 for $12.50
        </ion-card-header>
        <ion-card-content>
          -- jalapeño apple slaw, green onion, cilantro, jackfruit BBQ sauce
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Pulled Rib $4.50, or 3 for $12.50
        </ion-card-header>
        <ion-card-content>
          -- BBQ beans, onion, pickles, spicy & Alabama white BBQ sauce
        </ion-card-content>
      </ion-card>
    </div>

    <div>
      <ion-card color="light">
        <ion-card-header>
          <!--<ionic-card-title style="center">Prepare for Takeoff Tacos</ionic-card-title>-->
          <div class="ion-text-center">
            <h3>Bern Street Burritos & Bowls</h3>

            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.-->
          </div>
          <img src="assets\icon\burrito.PNG" alt="Burrito">
        </ion-card-header>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Brisket $9.50
        </ion-card-header>
        <ion-card-content>
          -- red chile fire salsa, jalapeno apple slaw, ghost pepperjack cheese
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Burnt Ends $9.50
        </ion-card-header>
        <ion-card-content>
          -- pico de gallo, Hangar 29 salsa, queso fresco
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Pulled Pork $8.00
        </ion-card-header>
        <ion-card-content>
          -- red chile fire salsa, jalapeno apple slaw, ghost pepper jack cheese
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Housemade Chipotle & Pepperjack Sausage $8.00
        </ion-card-header>
        <ion-card-content>
          -- red chile fire salsa, jalapeno apple slaw, mixed cheese
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Chicken $8.00
        </ion-card-header>
        <ion-card-content>
          -- red chile fire salsa, ghost pepper jack cheese, chopped cilantro, onion
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card color="light">
        <ion-card-header>
          Chorizo Sausage $8.00
        </ion-card-header>
        <ion-card-content>
          -- red chile fire salsa, ghost pepperjack cheese, chopped cilantro, onion
        </ion-card-content>
      </ion-card>
    </div>


  </ion-content>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
