<ion-header>
  <ion-toolbar>
    <ion-card>
      <ion-item href="#">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-item>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Order Options</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <menu>
            Menu: Order
            Handoff: Curbside
            Location: 11920 N Ambassador Dr, Kansas City, MO 64153
          </menu>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Your Cart is Empty...</ion-label>
        </ion-item>
      </ion-card>
    </ion-content>
  </ion-app>

</ion-content>
<ion-footer>
  <ion-button href="/cart" expand="block" shape="round" fill="solid">Checkout</ion-button>
  <!--<ion-button (click)="crubside()">Curbside To Go</ion-button>-->


</ion-footer>
