<ion-header>
  <ion-toolbar>
    <ion-card>
      <ion-item href="#">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-item>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Order Options</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>Order handoff: Curbside</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Brisket Burrito Bowl</ion-label>
          <ion-note slot="end">1</ion-note>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-list lines="inset">
          <ion-item>
            <ion-label>Sub Totoal</ion-label>
            <ion-note slot="end">$9.99</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Tax(10%)</ion-label>
            <ion-note slot="end">$0.99</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Total</ion-label>
            <ion-note slot="end">$10.98</ion-note>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="logo-paypal" slot="start"></ion-icon>
          <ion-label>Paypal</ion-label>
          <ion-checkbox slot="end" ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="cash" slot="start"></ion-icon>
            <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>Cash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
            <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>Credit Card</ion-label>
        </ion-item>
      </ion-card>
    </ion-content>
  </ion-app>

</ion-content>
<ion-footer>
  <ion-button href="/checkout" expand="block" shape="round" fill="outline">Checkout</ion-button>
  <!--<ion-button (click)="crubside()">Curbside To Go</ion-button>-->


</ion-footer>
