<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card>
      <ion-item href="#">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        <ion-label>Order Up</ion-label>
      </ion-item>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">In the Cart</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-label>Pulled Pork Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pulled Pork Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pulled Pork Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chicken Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chicken Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chicken Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chorizo Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chorizo Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chorizo Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Brisket Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Brisket Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Brisket Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> Burnt End Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Burnt End Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Burnt End Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Smokey Whitefish Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Smokey Whitefish Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Smokey Whitefish Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Shrimp Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Shrimp Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Shrimp Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pulled Rib Tacos</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pulled Rib Bowl</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pulled Rib Burrito </ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    </ion-card>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>

  <ion-footer>
      <ion-button href="/cart" expand="block" shape="round" fill="solid">Add to Cart</ion-button>
    <!--<ion-button (click)="crubside()">Curbside To Go</ion-button>-->


  </ion-footer>
