<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Order Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">In the Cart</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Food</ion-label>
    <ion-checkbox></ion-checkbox>
    </ion-item>
    </ion-card>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>

  <ion-footer>
      <ion-button href="/cart" expand="block" shape="round" fill="solid">Add to Cart</ion-button>
    <!--<ion-button (click)="crubside()">Curbside To Go</ion-button>-->


  </ion-footer>
